@model WebApplication1.Models.Organizations_Relationship

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.Cookies["session"]["role"] == "Admin")
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ENTRENA DB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Participants", "Index", "Participants")</li>
                    <li>@Html.ActionLink("Activities", "Index", "Activities")</li>
                    <li>@Html.ActionLink("Participation", "Index", "activities_participation")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li style="background-color:#800808">
                        @if ((Request.Cookies["session"]["ses"] == "1") || Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Sign Out, " + Request.Cookies["session"]["user"], "Logout", "User")
                        }
                        else
                        {
                            @Html.ActionLink("Sign In", "Login", "User")
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h2>Create</h2>


    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>New Relationship</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.OrganizationID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.OrganizationID, new SelectList(Model.Organizations_Collection, "Organization_ID", "Organization_Name"), htmlAttributes: new { @class = "form-control", @id = "organizationDropDown" })
                    @Html.ValidationMessageFor(model => model.OrganizationID, "*", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PartnershipTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.PartnershipTypeID, new SelectList(Model.Partnerships_Collection, "Partnership_Type_ID", "Partnership_Type_Name"), htmlAttributes: new { @class = "form-control", @id = "partnershipDropDown" })
                    @Html.ValidationMessageFor(model => model.PartnershipTypeID, "*", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Organization_Relationship_Details, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Organization_Relationship_Details, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Organization_Relationship_Details, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Back to List" class="btn btn-default" onclick="window.location='/Organizations_Relationship/Index';" />
                    <input type="submit" value="Create and Continue" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

else
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ENTRENA DB", "Login", "User", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li style="background-color:#800808">
                        @Html.ActionLink("Sign In", "Login", "User")
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <h3>You  are not allowed to see this information. Please <a href="/user/login">Sign In</a> to continue.</h3>
    </div>
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $("#organizationDropDown").chosen({
                disable_search_treshold: 8
            });
            $("#partnershipDropDown").chosen({
                disable_search_treshold: 8
            });
        });
    </script>

}
